html{
    background-color: rgb(219, 237, 237);
}

h1{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}
.container{
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}