/*html{
    background-color: rgb(148, 201, 201) ;
}*/

.wrapper{
    background-color: rgb(219, 237, 237);
    width: 1020px;
    margin: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

h1{
    position: absolute;
    top: 50%;
    width: 200%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    color: white;
}


.container{
    position: relative;
    max-width: 500px;
}

img {
    width: 204%;
}

nav li{
    display: inline-block; /*inline can't accept width and height*/
    border-right: 1px solid #333;
    width: 300px;
    text-align: center;
    font-size: 25px;
}

/* need to remove the last line*/
nav li:last-child{
    border-right: none;
}

h2{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}


li{
    margin: 10px;
}

#strafish-small {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
}

.box{
    border: 1px solid #000000;
    padding: 20px;
    width: 950px;
    height: 450px;
    margin: 10px;
    margin-bottom: 20px;
}


.box form textarea {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.box form input{
    display: block;
    width: 100%;
    height: 15px;
    margin-bottom: 10px; 
    margin-top: 5px; 
}

.box form input[type="radio"] {
    display: inline;
    width: auto;
}

h3{
    font-weight: lighter;
}

